.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sort-block .sort-item {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}

.content {
    margin-top: 30px;
}

.item {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.item img {
    height: 500px
}

a {
    text-decoration: none;
}

i {
    font-size: 1rem !important;
}

.underline {
    text-decoration: underline;
}